body{
    background-color: #F0F2F5;
}
#left{
    display: flex;
}
.float{
    flex: 1;
    padding: 46px 0px 0px 0px;
    margin: 120px 0px 0px 100px;
}
.float h1{
    color: #1877F2;
    font-size: 60px;
    font-weight: bolder;
}
.float p{
    font-weight: 400;
    font-size: 28px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
#card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    width: 100%;
    margin: 120px 100px 0px 0px;
}
#card input{
    padding: 10px 162px 10px 175px;
    margin: 15px 12px 0px 10px;
    border-radius: 3px;
}
#button1{
    padding: 10px 236px 10px 230px;
    margin: 15px 12px 20px 10px;
    color: #fff;
    background-color: #1877F2;
    border-radius: 8px;
}
#card p{
    font-size: 16px;
    margin: 5px 0px 0px 12rem;
}
#button2{
    color: #fff;
    background-color: #42b72a;
    border-radius: 8px;
    padding:10px 100px 10px 100px;
    margin: 15px 100px 20px 102px;
}
hr{
    margin: 15px 15px 0px 15px;
}